.container .image {

    background-image: url('../../public/images/movie/straji.jpg');
    min-height: 300px;
    height: calc(100vh/2.5);
    max-height: 360px;
    background-size: cover;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .col-12 .search_description {

    width: 100%;
    padding: 30px 40px;

}

.container .col-12 .search_description .title h2 {

    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;

}

.container .col-12 .search_description .title h3 {

    font-size: 2em;
    font-weight: 600;
    margin: 0;
    color: #fff;

}

.container .col-12 .search_description .search form .search_form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
}

.container .col-12 .search_description .search form .search_form input {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, .5);
    border: 0;
    border-radius: 30px;
    padding: 10px 20px;
}

.container .col-12 .search_description .search form .search_form button {

    height: 46px;
    padding: 10px 26px;
    border: 0;
    background: linear-gradient(to right, rgba(30, 213, 169, 1) 0%, rgba(1, 180, 228, 1) 100%);
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: -1px;
    color: #fff;

}

.container .column-header {

    display: flex;
    align-items: center;
    padding: 0px 40px;

}

.container .column-header nav .tab-nav {

    display: flex;
    border: 1px solid black;
    border-radius: 30px;
    align-items: stretch;
    margin-left: 15px;

}

.container .column-header nav .tab-nav .nav-link.active {


    border-radius: 30px;
    color: #c0fecf;
    background-color: #032541;
}

.container .column-header nav .tab-nav .nav-link.active button {
    color: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%)
}

.container .column-header nav .tab-nav .nav-link {

    padding: 4px 20px;

}

.column-wrapper {

    margin: 30px;

}

.container .column-content {

    padding: 20px 40px;

}

.container .column-content .tab-content .tab-pane .card-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.container .column-content .tab-content .tab-pane .card-content .card {
    min-width: 150px;
    max-width: 15px;
    border: none;
    background: unset;
}

.container .column-content .tab-content .tab-pane .card-content::-webkit-scrollbar {
    width: 20px;
    height: 8px;
}

.container .column-content .tab-content .tab-pane .card-content::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
    height: 10px;
}

.container .column-content .tab-content .tab-pane .card-content .card img{

    width: 150px;
    height: 225px;
    border-radius: 5px;

}

.container .column-content .tab-content .tab-pane .card-content .card .card-body h2{
    font-size: 1em;
}

.container .column-content .tab-content .tab-pane .card-content .card .card-body h2 a{
    color: #000;
    text-decoration: none;
}

.container .column-content .tab-content .tab-pane .card-content .card .card-body {

    padding: 26px 10px 12px;

}
/* 
.container .puls-image {

    background-image: url('../../public/images/puls/photo_2023-12-28_16-11-41.jpg');
    background-repeat: no-repeat;
    background-position: center;
} */

/* .container .column-content .tab-content .tab-pane .card-content .card .raunded-card {

    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid yellow;

} */

/* 
canvas {
    display: block;
    position:absolute;
    top:20;
    left:0;
    background-color: #000;
    padding: 3px;
    border-radius: 50%;
}
span {
    color: #fff;
    display: block;
    line-height: 32px;
    text-align: center;
    width: 220px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin-left: 5px;
}
 */

.card-image-1 .container{

    background-image: url('../../public/images/puls/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg');
    background-repeat: no-repeat;
    background-position: center;
    
}

.column-wrapper-2 .container{

    background-image: url('../../public/images/video/dYtAgmjym7YX6ARFXkWCktw3rOC.jpg');
    background-repeat: no-repeat;
    height: auto;
    padding: 0px;
}
/* .column-wrapper-2-card{
    position: relative;
} */
.column-wrapper-2-card{
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.column-wrapper-2-card .column-header {

    padding-top: 50px;

}

.column-wrapper-2-card .column-header h2 {

    font-weight: 600;
    font-size: 1.5em;
    color: white;

}

.column-wrapper-2-card .column-header .tab-nav {
    color: white;
    font-weight: 600;
}

.container .column-wrapper-2-card .column-header nav .tab-nav .nav-link.active {
    background-color: #1ed5a9;
    color: #000;
}


.column-wrapper-2-card .column-header nav .tab-nav {

    display: flex;
    border: 1px solid #1ed5a9;
    border-radius: 30px;
    align-items: stretch;
    margin-left: 15px;

}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card {
    min-width: 300px;
    max-width: 300px;
    height: auto;
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card img {

    min-width: 300px;
    max-width: 300px;
    height: calc(300px/1.78);
    cursor: pointer;

}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .card-body {

    padding: 10px;
    
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .card-body h2 {
    font-size: 1.2em;
    width: 100%;
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .card-body h2 a {
    color: #fff;
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .card-body h3 {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}

.container .column-wrapper-2-card .column-content {
    padding: 20px 40px 0px 40px;
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .modal-content {
    background: unset;
    border: unset;
    width: 1200px;
    height: 90vh;
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .modal-dialog {
    max-width: 1200px;
    margin-right: 0px;
    margin-left: 0px;
    margin: auto;
}

.container .column-wrapper-2-card .column-content .tab-content .tab-pane .card-content .card .video-play {

    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.inner_content {
    height: 3000px;
}

.inner_content .container{
    background-image: url('../../public/images/movie/card-col.jpg');
    min-height: 300px;
    height: calc(100vh/2.5);
    max-height: 360px;
    background-size: cover;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.inner_content .container .col-md-12 {

    width: 100%;
    height: 100%;
    background-color: #6a40df7a;

}

.inner_content .container .col-md-12 .header-column {

    padding-top: 30px;
    padding-left: 75px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;

}

.inner_content .container .col-md-12 .row .col-md-6 p {

    font-size: 1.2em;
    color: #fff;

}

.inner_content .container .col-md-12 .row .col-md-4 ul li {

    opacity: .8;
    color: #fff;

}

.inner_content .container .col-md-12 .row .col-md-6 button {

    color: #fff;
    font-size: .9em;
    border-color: #805be7;
    background-color: #805be7;
    font-weight: 600;
    font-size: .9em;
    
}